@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    @apply text-neutral-800 dark:text-neutral-50;
}

a {
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

h1{

}
